@import './StoriesCardMedia';
.stories_card {
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
    }
    .overlay {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .text_wrapper {
        position: absolute;
        bottom: 2rem;
        color: $pure-white;
        z-index: 100;
        width: 100%;
        padding: 0 2rem;
        hr {
            width: 100%;
            margin: 1rem 0;
            border: none;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);
        }
        .artist_tag, .date {
            font-size: 13px;
        }
        .date {
            display: block;
            margin-bottom: 0.3rem;
        }
        .button_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                background: transparent;
                border: none;
                color: $pure-white;
            }
            button:nth-child(1) {
                padding: 0.5rem 0.5rem 0.5rem 0;
            }
            button:nth-child(2) {
                padding: 0.5rem 0 0.5rem 0.5;
            }
        }
    }
}