@media screen and (min-width: 580px) {
    .stories__intro_card {
        .mobile_image {
            display: none;
        }

        .desktop_image_container {
            position: relative;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                opacity: 0.4;
            }
        }

        .text_container {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 35rem;
            background-color: transparent !important;
        }
    }
}

@media screen and (min-width: 1080px) {
    .stories__intro_card {
        .text_container {
            left: 10rem;
        }
        .desktop_image_container {
            .desktop_image {
                object-fit: cover !important;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .stories__intro_card {
        .desktop_image_container {
            display: none;
        }
    }
}

@media screen and (min-width: 1440px) {
    .stories {
        max-width: 1440px;
        margin: 0 auto;
    }
}