body {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}
h1, h2, h3, h4 {
    font-weight: 700;
}
//basic heading
h1 {
    text-transform: uppercase;
    font-size: clamp(2rem, 5vw, 2.5rem);
    line-height: clamp(2.5rem, 5vw, 3rem);
    letter-spacing: clamp(0.208125rem, 5vw, 0.260625rem);
}
//prcing plan heading
h2 {
    font-size: 1.5rem;
    line-height: 1.5625rem;
}

// stories title
h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
}
//button text and desktop nav
h4 {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}