.plans_feature {
    padding: 0 2rem;
    margin-bottom: 5rem;
    h1 {
        text-align: center;
        margin-top: 6rem;
    }
    .features_header {
        .feature_title {
            margin: 4rem 0 0;
        }
    }
    .main_hr {
        border: none;
        height: 1px;
        width: 100%;
        background-color: #000;
        margin: 1.5rem 0;
    }
    &__card {
        .feature_checklist {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            width: 80%;
            margin: 0.5rem 0;
            span {
                font-size: 10px;
                text-transform: uppercase;
            }
        }
        hr {
            margin: 1.5rem 0;
            opacity: 0.3;
        }
    }
}