.price__plan_container {
    padding: 0 2rem;
    .plan_switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5rem auto 3rem;
        max-width: 20rem;
        button {
            height: 2rem;
            width: 4rem;
            border-radius: 1rem;
            border: none;
            position: relative;
        }
        .circle {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: #000;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}