.price_plan__card {
    text-align: center;
    margin: 2rem 0;
    padding: 3rem 2rem;
    position: relative;
    transition: all 250ms ease;
    .line {
        width: 100%;
        height: 6px;
        background: linear-gradient(5deg, #FFC593, #BC7198, #5A77FF);
        position: absolute;
        top: 0;
        left: 0;
    }
    h2 {
        margin: 1.5rem 0;
    }
    p {
        opacity: 0.5;
    }
    h1 {
        margin: 3rem 0 0;
    }
    button {
        margin: 3rem 0 0;
        width: 100%;
        height: 3rem;
        border: none;
    }
}
.price_plan__card:hover {
    transform: scale(1.1);
}