@media screen and (min-width: 580px) {
    .price__plan_container {
        .price_plan__card {
            position: relative;
            .card_wrapper {
                width: 20rem;
                .price_wrapper {
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                    text-align: right;
                }
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .price__plan_container {
        .plans_container {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: center;
            align-content: center;
            .price_plan__card {
                margin: 0 1rem;
                
                .card_wrapper {
                    text-align: center;
                    width: 100%;
                    .price_wrapper {
                        position: relative;
                        text-align: center;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .pricing {
        max-width: 1440px;
        margin: 0 auto;
    }
}