@media screen and (min-width: 1440px) {
    .features {
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 580px) {
    .features {
        .features_container {
            display: grid;
            grid-template-columns: auto auto;
            padding: 0 2rem;
            .features_card {
                max-width: 30rem;
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .features {
        .features_container {
            display: grid;
            grid-template-columns: auto auto auto;
            .features_card {
                max-width: 20rem;
            }
        }
    }
}