@media screen and (min-width: 580px) {
    .footer {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        position: relative;
        padding: 3rem 2rem;
        .left {
            padding: 0 !important;
            height: 10rem;
            display: flex;
            justify-content: space-between !important;
            .socials {
                margin: 0 !important;
            }

        }
        .middle {
            position: absolute;
            top: 35%;
            h3 {
                font-size: 12px;
            }
            nav {
                display: flex;
                li {
                    margin-right: 2rem;
                }
            }
        }
        .right {
            height: 10rem;
            justify-content: space-between !important;
            margin: 0 !important;
            p {
                margin: 0 !important;
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .footer {
        padding-left: 8rem;
        padding-right: 8rem;
        .middle {
            position: relative !important;
            display: flex;
            flex: 1;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            margin-left: 8rem;
            nav {

                flex-direction: column;
                li {
                    margin: 0.3rem 0 !important;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        max-width: 1440px;
        margin: 0 auto;
    }
}