@import './FooterMedia';
.footer {
    background-color: $pure-black;
    img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1000%) contrast(100%);
    }
    color: $pure-white;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 1rem;
        .socials {
            margin: 2rem 0;
            ul {
                list-style: none;
                display: flex;
                width: 10rem;
                justify-content: space-between;
            }
        }
    }
    .middle {
        text-align: center;
        text-transform: uppercase;
        li {
            margin: 1rem 0;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        button {
            background: transparent;
            color: $pure-white;
            display: flex;
            height: 3rem;
            justify-content: center;
            align-items: center;
            border: none;
            img {
                margin-left: 1rem;
            }
        }
        p {
            margin: 1rem 0 4rem;
            opacity: 0.3;
        }
    }
}
